:root {
  --text: #333;
  --text-h: #111;
  --bg: #fff;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font-family: var(--sans);
  color: var(--text);
  background: var(--bg);
}

body {
  margin: 0;
}

main {
  padding: 1.5rem;
}

h1 {
  font-weight: 600;
  color: var(--text-h);
}

input,
button {
  font: inherit;
}
